.Sidebar{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
}
.Contact{
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: 2px solid grey;
    padding: 5px;
    line-height: 10px;    
}
.Contact h4{
    padding: 1px;
    color: #fff;

}
.Contact p{
    color: #fff;
    padding: 1px;
}
